@import '../abstracts/variables';

html,
body {
  margin: 0px;
  padding: 0px;
  color: $text-color-primary;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  margin: $body-margin;
  min-height: 30rem;
  font-size: 1.6rem;
  font-family: Lato, Cursive, sans-serif;
}

.site__container {
  background-color: #f7f7f7;
  overflow: visible;
  box-sizing: border-box;
  display: table;
}

a,
a:link,
a:visited {
  color: $text-color-primary;
  text-decoration: none;
}
