@import '../abstracts/variables';
@import '../abstracts/mixins';

html,
body {
  margin: 0px;
  padding: 0px;
  color: $text-color-primary;
  font-weight: 400;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    //font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  padding: $body-margin;
  min-height: 30rem;
  font-size: 1.6rem;
  font-family: Lato, Cursive, sans-serif;
  width: 100%;
  box-sizing: border-box;

  @include respond(phone) {
    margin: 0;
  }
}

.site__container {
  background-color: #f7f7f7;
  overflow: visible;
  box-sizing: border-box;
  display: table;
  max-width: 160rem;
}

a,
a:link,
a:visited {
  color: $text-color-primary;
  text-decoration: none;
}
