@mixin clearfix {
  content: '';
  clear: both;
  display: table;
}

.u-align-center {
  text-align: center;
}

.u-margin-after-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-after-medium {
  margin-bottom: 4rem !important;
}

.u-margin-after-large {
  margin-bottom: 8rem !important;
}

.u-margin-after-xlarge {
  margin-bottom: 16rem !important;
}

.u-margin-before-small {
  margin-top: 1.5rem !important;
}

.u-margin-before-medium {
  margin-top: 4rem !important;
}

.u-margin-before-large {
  margin-top: 8rem !important;
}

.u-margin-before-xlarge {
  margin-top: 16rem !important;
}

.u-padding-small {
  padding: 1rem !important;
}

.u-padding-medium {
  padding: 3rem !important;
}

.u-padding-large {
  padding: 6rem !important;
}
